<div class="container">
    <table class="table">
        <thead>
            
             <th>Movie Reviews</th>

            <tr>
                <th>Id</th>
                <th>moviename</th>
                <th>release_year</th>
                <th>description</th>
                <th>comments</th>
            </tr>
        </thead>
        <!-- <tbody>
           <tr *ngFor="let tods of review">
            <th>{{id}}</th>
            <th>{{moviename}}</th>        
            <th>{{release_year}}</th>
            <th>{{description}}</th>
            <th>{{comments}}</th>
           </tr>
        </tbody> -->
    </table>
</div>
